$main-color: #212121;
  $secondary-color: #ffffff;
  $brand-color: #2196f3;
  $additional-color: #757575;
  $bg-our-team-color: #f5f4fa;
  // &logo-color: #afb1b8;
  $logo-border: #afb1b8;



.customer {
  padding-top: 94px;
  padding-bottom: 94px;
}


.customer__header {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: $main-color;
  margin-bottom: 50px;
}

.greed__list:not(:last-child) {
  margin-right: 30px;
}


.greed {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  justify-content: center;
}

.logo-customer__icon {
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}


.logo-customer {
  fill: $logo-border;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  outline: 1px solid $logo-border;
  border-radius: 4px;

  &:hover .logo-customer__icon,
  &:focus .logo-customer__icon
   {
    fill: $brand-color;
  }

  &:hover, &:focus {
    display: flex;
  width: 170px;
  height: 92px;
  fill: $brand-color;
  outline: 1px solid $brand-color;
  border-radius: 4px;
  }
 
}






//.logo-customer {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   width: 170px;
//   height: 92px;
//   outline: 1px solid $logo-border;
//   border-radius: 4px;
// }